<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="../.././../Рабочий стол/libs/lodash.js"></script>
    <script src="../../../Рабочий стол/libs/angular.js"></script>
    <script src="./js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.5/angular-mocks.js"></script>


    <div ng-controller="mainCtrl">
        <input type="text" ng-model="book.name">
        <input type="button" ng-click="addBook(book)" value="Add book">
        <div ng-repeat="book in books">
            {{book.name}}
        </div>
    </div>


</body>
</html>